.resourceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.listContainer a {
    font-size: large;
    color: white;
    line-height: 2em;
}

.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.siteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 33.3%;
}

.textBox {
    width: 75%;
}

.sectionIcon {
    margin-left: 1rem;
}

@media screen and (max-width: 975px) {
    .resourceContainer {
        width: 100vw;
    }

    .listContainer a {
        font-size: medium;
    }
}

@media screen and (max-width: 600px) {
    .siteContainer {
        width: 100vw;
        height: fit-content;
        justify-content: center;
    }

    .listContainer a {
        line-height: 1.5em;
    }
}

@media screen and (min-width: 2000px) {
    .resourceContainer {
        height: 100%;
        margin-bottom: 10vh;
    }

    .siteContainer {
        width: 25%;
    }

    .introContainer {
        width: 80%;
    }
}