.resourceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listContainer a {
    font-size: large;
    color: white;
    line-height: 2em;
}

.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.youtubeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 33%;
}

.discordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 33%;
}

.twitchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 33%;
}

.textBox {
    width: 75%;
}