.showcaseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 89vh;
}

@media screen and (max-width: 975px) {
    iframe {
        width: 100vw;
        height: 45vh;
    }
    
    .showcaseContainer {
        height: 100%;
        width: 100vw;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

@media screen and (min-width: 2000px) {
    .showcaseContainer {
        height: 100%;
        margin-bottom: 10vh;
    }
}