.nav {
    background: #181d2a;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    z-index: 1;
}

.navItem {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}

.navLinks {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 70%;
    cursor: pointer;
    font-size: large;
}

.navLinks:hover {
    border-bottom: 3px solid white;
}

.navLogo:hover {
    border-bottom: 3px solid white;
}