iframe {
    border-radius: 10px;
}

.downloadBtn {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #2e74b7;
    transition: 0.25s;
}

.downloadBtn:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #95d3e9;
    transform: translateY(-0.25em);
    border-color: #95d3e9;
    color: white;
}

.cheatsheetContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    align-items: center;
    height: 85vh;
    width: 75%;
}