iframe {
    border-radius: 10px;
}

.downloadBtn {
    margin: 0rem 2rem 2rem 2rem;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    height: 4rem;
    width: 20rem;
}

.downloadBtn:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.textContainer {
    width: 50%;
}

.cheatsheetContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100%;
    width: 100%;
}

.showcaseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}