span {
    font-style: italic;
    color: #95d3e9;
}

.image {
    height: 40%;
    width: 40%;
    padding: 1rem 1rem;
}

.guidelineContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    width: 40%;
    padding: 1rem 1rem;
}

.keypairContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
}