.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    background-image: none;
    flex: 1;
    padding: 0 1rem;
    color: #181d2a;
    cursor: pointer;
}

hr {
    width: 90%;
    height: 2px;
    background: linear-gradient(to left, #2e74b7, #95d3e9);
    border-radius: 15px;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background-color: #2e74b7;
    overflow: hidden;
    border-radius: .25em;
    font-size: 1em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2e74b7;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: white;
}

.selectContainer {
    display: flex;
    margin-top: 2rem;
    width: 75%;
    justify-content: space-around;
    align-items: center;
}

.armyBuild {
    width: 80%;
    height: 30%;
    padding-top: 2rem;
}

.generatorText {
    width: 75%;
}

.generateBtn {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #2e74b7;
    transition: 0.25s;
}

.generateBtn:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #95d3e9;
    transform: translateY(-0.25em);
    border-color: #95d3e9;
    color: white;
}

@media screen and (max-width: 600px) {
    .formContainer {
        width: 100vw;
        height: 100%;
    }

    .selectContainer {
        width: 100vw;
        flex-direction: column;
    }

    .select {
        margin-bottom: 1rem;
    }

    .armyBuild {
        width: 100vw;
        padding-top: .5rem;
    }

}